<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>语音测试</title>
    <script type="text/javascript" src="resources/js/jquery.js"></script>
    <script type="text/javascript" src="resources/js/base64js.js"></script>
    <script type="text/javascript" src="resources/js/main.js"></script>
</head>
<body>
<div>

</div>
</body>
<script type="text/javascript">

</script>
</html>
